html, body, ul, li, p{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Arial Regular" sans-serif;
    font-size: 12px;
}

p{
    padding-bottom: 18px;
}

#main{
    overflow: hidden;    
}

.wrapper{
    position: relative;
    
    height: 764px;
    width:700px;
    padding-left: 150px;
}

.header{
    background-color: #2ca009;
    
    width: 100%;
    
    height: 150px;
    
    padding: 37px 0px 34px 37px;
    
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;  
    box-sizing: border-box;
}

.sidebar{
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;  
    box-sizing: border-box;
    
    padding: 30px 22px;
    
    float:left;
    
    background-color: rgb(224,215,215);
    
    height: 539px;
    width: 173px;
}

.sidebar li{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 13px;
    
    list-style: none;
    
    font-size: 15px;
    font-family: "Arial Regular" sans-serif;
}

.sidebar a{
    text-decoration: none;
    color: #001cc4;
}

.sidebar .active, 
.sidebar a:hover{
    text-decoration: underline;
}

.content{
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;  
    box-sizing: border-box;
    
    padding: 20px 50px;
    
    float: right;
    
    height: 539px;
    width: 527px;
}

.content h1{
    padding: 0px;
    margin: 0px;
    
    font-family: "Arial Bold" sans-serif;
	font-size: 24px;
    color: #999999;
    padding-bottom: 32px;
}

.footer{    
    clear: both;
    
    width: 100%;
    
    font-family: "Arial Reqular" sans-serif;
    font-size: 12px;
    
    padding: 24px 0px 36px;
    
    background: #e2e2e1; /* Old browsers */
    background: -moz-linear-gradient(top,  #e2e2e1 0%, #70706a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e1), color-stop(100%,#70706a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e2e2e1 0%,#70706a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e2e2e1 0%,#70706a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e2e2e1 0%,#70706a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e2e2e1 0%,#70706a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e1', endColorstr='#70706a',GradientType=0 ); /* IE6-9 */
    
}

.footer li{
    display: inline-block;
    vertical-align: top;
    margin: 0px 3px;
}

.footer ul{
    text-align: center;
}

.footer a{
    text-decoration: none;
    color: #000;
}

.footer .active, 
.footer a:hover{
    text-decoration: underline;
}