.wrapper{    
    border: black solid 1px;
    
    padding: 1px;
    
    height: 79px;
    width : 231px;
    
    font-size: 30px;
    font-family: "Arial";
}

.black{
    float: left;
    
    height: 100px;
    
    padding-bottom: 10px;
    padding-top: 35px;
    padding-left: 15px;
    padding-right: 1px;
}

.white{
    float:right;
    
    background-color: black;
    
    color: white;
    
    width: 100px;
    
    padding-bottom: 10px;
    padding-top: 35px;
    padding-left: 1px;
    padding-right: 15px;
}